<div class="container-fluid">

    <ngb-alert *ngIf="alertMessage!=null" (close)="alertMessage=null" type="{{alertMessage.typeAlert}}"
               [dismissible]="true">
        {{alertMessage.message}}
    </ngb-alert>

    <app-page-title title="Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box mr-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <!--<input  type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">-->
                                    <input (input)="onSearch($event.target.value)" type="text" class="form-control"
                                           placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <button (click)="isAddCategoryFormVisible=true; editCategoryId=-1" type="button"
                                        class="btn btn-success btn-rounded mb-2 mr-2"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    Add New Category
                                </button>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <!-- Table data -->
                    <!--<app-transaction [transactions]="transactions |  filter:term"></app-transaction>-->
                    <form [formGroup]="formCategoryEdit">

                        <div class="table-responsive-sm mb-0">
                            <table class="table table-centered table-nowrap">
                                <thead class="thead-light">
                                <tr>
                                    <th style="width: 20px;">
                                        <div class="custom-control custom-checkbox">
                                            <input id="customCheck" type="checkbox" class="custom-control-input"/>
                                            <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th>Category Name</th>
                                    <th>Category Type</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <ng-container *ngIf="isAddCategoryFormVisible===true;">
                                        <td></td>
                                        <td>
                                            <input class="form-control"
                                                   formControlName="name"
                                                   placeholder="Enter category name"
                                                   [ngClass]="{ 'is-invalid': fceSubmitted && fce.name.errors }"

                                            />
                                        </td>
                                        <td>
                                            <ng-select class="categoriesCustom" bindLabel="name"
                                                       [items]="categoryTypes"
                                                       formControlName="parent"
                                                       [clearable]="false"
                                                       placeholder="Select category type"
                                                       (change)="onChangeCategoryType()"
                                                       [ngClass]="{ 'invalid': fceSubmitted && fce.parent.errors }"
                                            ></ng-select>
                                        </td>
                                        <td>
                                            <ng-select *ngIf="isCategorySelected" class="categoriesCustom"
                                                       bindLabel="name"
                                                       [items]="parentCategories"
                                                       formControlName="parentCategory"
                                                       [clearable]="true"
                                                       placeholder="Select parent category"
                                                       [ngClass]="{ 'invalid': fceSubmitted && fce.parentCategory.errors }"
                                            ></ng-select>
                                        </td>
                                        <td>
                                            <button (click)="onAddCategory()" type="button"
                                                    class="mr-2 btn btn-primary btn-sm btn-rounded"
                                            >Add
                                            </button>
                                            <button (click)="onCancelCategory()" type="button"
                                                    class="btn btn-secondary  btn-sm btn-rounded"
                                            >Cancel
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let category of searchedCategories;let i=index">
                                    <!--<ng-container *ngIf="term.trim() ==='' || category.name.toLowerCase().indexOf(term)!=-1">-->
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="customCheck{{category.id}}" type="checkbox"
                                                   class="custom-control-input"/>
                                            <label class="custom-control-label"
                                                   for="customCheck{{category.id}}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <ng-container *ngIf="editCategoryId===category.id;else noCategoryEdit">
                                        <td>
                                            <input class="form-control"
                                                   formControlName="name"
                                                   [ngClass]="{ 'is-invalid': fceSubmitted && fce.name.errors }"
                                            />
                                        </td>
                                        <td>
                                            <ng-select bindLabel="name"
                                                       [items]="categoryTypes"
                                                       formControlName="parent"
                                                       [clearable]="false"
                                                       (change)="onChangeCategoryType(true)"
                                                       [ngClass]="{ 'is-invalid': fceSubmitted && fce.parent.errors }"
                                            ></ng-select>
                                        </td>
                                    </ng-container>
                                    <ng-template #noCategoryEdit>
                                        <td>
                                            {{category.name}}
                                        </td>
                                        <td>
                                            <span *ngIf="category.parent"
                                                  class="badge badge-pill badge-soft-success font-size-12">Parent Category</span>
                                            <span *ngIf="!category.parent"
                                                  class="badge badge-pill badge-soft-warning font-size-12">Category</span>
                                        </td>
                                    </ng-template>

                                    <!--<td>
                              <span class="badge badge-pill badge-soft-success font-size-12" [ngClass]=" { 'badge-soft-danger': data.status === 'Chargeback',
                                            'badge-soft-warning':data.status === 'Refund' }">{{data.staftus}}</span>
                                    </td>
                                    -->

                                    <td>
                                        <!-- Button trigger modal -->
                                        <div *ngIf="editCategoryId===category.id;else noEditCategory">
                                            <ng-select
                                                    *ngIf="isEditCategorySelected"
                                                    class="categoriesCustom"
                                                    bindLabel="name"
                                                    [items]="parentCategories"
                                                    formControlName="parentCategory"
                                                    [clearable]="true"
                                                    placeholder="Select parent category"
                                                    [ngClass]="{ 'invalid': fceSubmitted && fce.parentCategory.errors }"
                                            ></ng-select>
                                        </div>
                                        <ng-template #noEditCategory>
                                            <button *ngIf="category.parent" type="button"
                                                    class="mr-2 btn btn-success btn-sm btn-rounded"
                                                    (click)="openModal(content,category)">View
                                                Details
                                            </button>
                                            <div *ngIf="!category.parent && category.parentCategory!=null">
                                                <span class="mr-2 badge badge-pill badge-soft-success font-size-12">Parent</span>
                                                {{category.parentCategory.name}}
                                            </div>
                                        </ng-template>

                                    </td>
                                    <td>
                                        <div *ngIf="editCategoryId===category.id;else noActionButtons">
                                            <button (click)="onSaveEditCategory(category,i)" type="button"
                                                    class="mr-2 btn btn-primary btn-sm btn-rounded"
                                            >Save
                                            </button>
                                            <button (click)="onCancelCategory()" type="button"
                                                    class="btn btn-secondary btn-sm btn-rounded"
                                            >Cancel
                                            </button>
                                        </div>
                                        <ng-template #noActionButtons>
                                            <div data-toggle="dropdown" data-boundary="window" ngbDropdown
                                                 placement="bottom">
                                                <a href="javascript: void(0);"
                                                   ngbDropdownToggle aria-expanded="false">
                                                    <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                </a>
                                                <ul style="overflow-x: visible;overflow-y: visible"
                                                    class="dropdown-menu-right"
                                                    ngbDropdownMenu>
                                                    <li><a (click)="onEditCategory(category)"
                                                           class="dropdown-item"><i
                                                            class="fas fa-pencil-alt text-success mr-1"></i>
                                                        Edit</a></li>
                                                    <li><a (click)="onDeleteCategory(category.id)"
                                                           class="dropdown-item"><i
                                                            class="fas fa-trash-alt text-danger mr-1"></i>
                                                        Delete</a></li>
                                                </ul>
                                            </div>
                                        </ng-template>

                                    </td>
                                    <!--</ng-container>-->

                                    <!--</form>-->

                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </form>
                    <ng-template #content role="document" let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Details</h5>
                            <button type="button" class="close" aria-hidden="true"
                                    (click)="modal.dismiss('Cross click')">×
                            </button>
                        </div>
                        <div class="container-fluid mt-2">
                            <ngb-alert *ngIf="alertModalMessage!=null" (close)="alertModalMessage=null"
                                       type="{{alertModalMessage.typeAlert}}" [dismissible]="true">
                                {{alertModalMessage.message}}
                            </ngb-alert>
                        </div>
                        <form [formGroup]="formSubCategoryEdit">
                            <div class="modal-body">
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <p>
                                            Name:
                                            <span class="text-primary">{{modalCategory.name}}</span>
                                        </p>
                                    </div>
                                    <!--<div class="col-md-8">
                                        <div class="text-sm-right">
                                            <button (click)="isAddSubCategoryFormVisible=true" type="button"
                                                    class="btn btn-success btn-sm btn-rounded mb-2 mr-2"><i
                                                    class="mdi mdi-plus mr-1"></i>
                                                Add New Sub Category
                                            </button>
                                        </div>
                                    </div>-->
                                </div>
                                <table *ngIf="subCategories!=null && subCategories.length>0;else nosubcategories"
                                        class="table table-centered table-nowrap">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20px;">
                                            <div class="custom-control custom-checkbox">
                                                <input id="customCheckCategory" type="checkbox"
                                                       class="custom-control-input"/>
                                                <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>Category Name</th>
                                        <th>Category Type</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let subCategory of subCategories;let i=index">
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input id="customCheckCategory{{subCategory.id}}" type="checkbox"
                                                       class="custom-control-input"/>
                                                <label class="custom-control-label"
                                                       for="customCheckCategory{{subCategory.id}}">&nbsp;</label>
                                            </div>
                                        </td>
                                        <ng-container *ngIf="editSubCategoryId===subCategory.id;else noCategoryEdit">

                                            <td>
                                                <input class="form-control"
                                                       formControlName="name"
                                                       [ngClass]="{ 'is-invalid': fsceSubmitted && fsce.name.errors }"
                                                />
                                            </td>
                                        </ng-container>
                                        <ng-template #noCategoryEdit>
                                            <td>{{subCategory.name}}</td>
                                        </ng-template>
                                        <!--<td>
                                  <span class="badge badge-pill badge-soft-success font-size-12" [ngClass]=" { 'badge-soft-danger': data.status === 'Chargeback',
                                                'badge-soft-warning':data.status === 'Refund' }">{{data.status}}</span>
                                        </td>
                                        -->
                                        <td>
                                            <span class="badge badge-pill badge-soft-warning font-size-12">Category</span>
                                        </td>
                                        <td>
                                            <div *ngIf="editSubCategoryId===subCategory.id;else noSubActionButtons">
                                                <button (click)="onSaveEditSubCategory(subCategory,i)" type="button"
                                                        class="mr-2 btn btn-primary btn-sm btn-rounded"
                                                >Save Edit
                                                </button>
                                            </div>
                                            <ng-template #noSubActionButtons>
                                                <div ngbDropdown placement="bottom">
                                                    <a href="javascript: void(0);"
                                                       ngbDropdownToggle aria-expanded="false">
                                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                    </a>
                                                    <ul class="dropdown-menu-right" ngbDropdownMenu>
                                                        <li><a (click)="onEditSubCategory(subCategory)"
                                                               class="dropdown-item"><i
                                                                class="fas fa-pencil-alt text-success mr-1"></i>
                                                            Edit</a></li>
                                                        <li><a (click)="onDeleteSubCategory(subCategory.id)"
                                                               class="dropdown-item"><i
                                                                class="fas fa-trash-alt text-danger mr-1"></i>
                                                            Delete</a></li>
                                                    </ul>
                                                </div>
                                            </ng-template>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ng-template #nosubcategories>
                                    <ngb-alert type="warning" [dismissible]="false">
                                        Sorry !! There is No Sub Category
                                    </ngb-alert>
                                </ng-template>

                            </div>
                        </form>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" (click)="onModalClose()">Close</button>
                        </div>
                    </ng-template>
                    <!-- end table -->

                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                        <ng-container *ngFor="let pager of pagers;let i=index">
                            <li *ngIf="i==0" class="page-item active">
                                <a class="page-link" href="javascript: void(0);">{{i+1}}</a>
                            </li>
                            <li *ngIf="i!=0" class="page-item">
                                <a class="page-link" href="javascript: void(0);">{{i+1}}</a>
                            </li>
                        </ng-container>

                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>